.css-1q1u3t4-MuiTableRow-root{
    background: green;
}
div, a {
    margin: 2px;
}
.css-1jfxiah-MuiDialogContent-root .MuiTextField-root {
    margin: 11.8px;
}

.css-ypiqx9-MuiDialogContent-root {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: 0px 24px;
}
.MuiDialogContent-root {
    // background-color: blue;
    padding: 0px 24px;
}
.MuiInput-root {
    position: relative;
    width: 258px;
}
.container{
    display: flex;
}
.css-12rl710-MuiPaper-root-MuiDialog-paper {
    width: 595px;
}
.MuiTableRow-root .MuiTableCell-root {
color:white

}
